body {
    background-image: url('https://e0.pxfuel.com/wallpapers/759/954/desktop-wallpaper-passenger-airplane-aircraft-wing-sun-sky-clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    color: white;
    margin-left: 10%;
    text-align: left;
}



.text-wrapper {
    margin-top: 00px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
    border-color: black;
    
}

#social {
    margin-top: 00px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;

    
}

#socialmedia {
    margin-top: 40px;


    
}

#ABUS {
    margin-top: 00px;
    color: white;
    margin-top: 400px;
    margin-left: 100px;

}

#ABUS2 {
    margin-top: 00px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;

}

#contact-form {
    margin-top: 00px;
    color: white;
    margin-top: 100px;
    margin-left: 100px;



}

#formulario {
    margin-top: 00px;
    color: white;
    margin-top: 100px;
    margin-right: 500px;

}
